.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  #brand {   
    color: white;   
  }

  #brand:active {
    color: white;
  }
  #brand:visited  {
    color: white;
  }

  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
  .overflow-hidden { overflow: hidden; }


/* News Page */

#news-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#container-heading{
  text-align: center;
  margin-top: 5px;
}
#container-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: center;
  
}
.single-news{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  padding: 0 10px;
  border: 1px solid black;
}
.single-news a{
  color: black;
}
.single-news a:hover{
  color: blue;
}

.news-details{
  padding: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}
.news-thumbnail{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-thumbnail img{
  width: 200px;
  height: 120px;
}
.article-details{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
}
@media (max-width:425px){
  .single-news{
    flex-wrap: wrap;
    padding: 0px;
  }
  .news-details{
    padding: 0 5px;
  }
  .news-thumbnail{
    width: 100%;
  }
  .news-details h3{
    font-size: 20px;
  }
  .article-details p{
    font-size: 10px;
    margin: 0;
  }
}